<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Game of Thrones Season 8 Death Pool</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<style>
		.shadowed {
			-webkit-box-shadow: 0px 2px 4px 1px rgba(138,138,138,0.55);
			-moz-box-shadow: 0px 2px 4px 1px rgba(138,138,138,0.55);
			box-shadow: 0px 2px 4px 1px rgba(138,138,138,0.55);
		}
		a:hover {
			text-decoration: none;
		}
	</style>
	<script>
	 	function validateInput(){
			const fname = document.f.fname;
			const lname = document.f.lname;
			const email = document.f.email;
			const passwordMatch = doPasswordsMatch();
			const passwordStrength = testPasswordStrength();
			const emailTest = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	      	
			let successful = true;

			if (fname.value == '') {
				alert('Please enter a first name');
				fname.focus();
				successful = false;
			} else if (lname.value == '') {
				alert('Please enter a last name');
				lname.focus();
				successful = false;
			} else if (email.value.length === 0) {
		        alert('Please enter an Email');
		        email.focus();
		        successful = false;
	      	} else if (!emailTest.test(String(email.value).toLowerCase())) {
		        alert('Please Enter a Valid Email');
		        email.focus();
		        successful = false;		        
	      	} else if (!passwordMatch) {
	      		alert('Passwords must match');
	      		successful = false;
	      	} else if (!passwordStrength) {
	      		alert("Password isn't strong enough.");
	      		successful = false;
	      	} 
	      			
      		if (successful){
	        	alert('Submitted Successfully!');
	        	document.f.submit();
	      	}
			
		}
	 	
	 	function doPasswordsMatch(){
	 		const password1 = document.querySelector('#password');
 			const password2 = document.querySelector('#passwordConf');
 			const pswdErr = document.querySelector('.pswdErr2');
 			
 			if (password1.value != '' && password1.value == password2.value){
 				pswdErr.style.display = 'none';
 				return true;
 			} else {
 				pswdErr.style.display = 'block';
 				return false;
 			}
	 	}
	 	
	 	function testPasswordStrength(){
	 		const password = document.querySelector('#password').value;
	 		const pswdRegex = /^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8}$/;
	 		const pswdErr = document.querySelector('.pswdErr1');
	 		
	 		if (pswdRegex.test(String(password))){
	 			pswdErr.style.display = 'none';
 				return true;
 			} else {
 				pswdErr.style.display = 'block';
 				return false;
 			}
	 	}
		
	 	window.onload = function(){
	 		const password1 = document.querySelector('#password');
		  	password1.oninput = testPasswordStrength;
		  	
		  	const password2 = document.querySelector('#passwordConf');
		  	password2.oninput = doPasswordsMatch;
		}
	</script>
</head>
<body>

	<!--Nav menu -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadowed">
	  <a class="navbar-brand" href="/"><img src="https://pngimage.net/wp-content/uploads/2018/06/got-logo-png-4.png" height="24" width="64"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home
	          <span class="sr-only"></span>
	        </a>
	      </li>
	     <li class="nav-item">
	        <a class="nav-link" href="../viewResults">Results</a>
	      </li>
	    <li>
          <a href="../inputUser"><button class="btn btn-dark d-sm-block d-lg-none d-xl-none">Sign Up</button></a>
          <a href="../login"><button class="btn btn-dark d-sm-block d-lg-none d-xl-none">Login</button></a>
        </li>
      </ul>
    </div>
    <a href="../inputUser"><button class="btn btn-dark  hidesmall d-sm-none d-xl-block" >Sign Up</button></a>&nbsp;
    <a href="../login"><button class="btn btn-dark hidesmall d-sm-none d-xl-block" >Login</button></a>
	</nav>
	<!-- nav menu end --->


	<div class="container">
		<form  name='f' th:object="${newUser}" th:action="@{/inputUser}" method='POST'>
			<div class="row justify-content-center">
			
				<div class="col-3">
				<h1>Sign Up</h1>
					<div class="form-group">
						<label for="fname">First Name:</label>
						<input class="form-control" name="fname" >
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3">
					<div class="form-group">
						<label for="lname">Last Name:</label>
						<input class="form-control" name="lname" >
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3">
					<div class="form-group">
						<label for="email">E-mail:</label>
						<input class="form-control" name="email" type="email">
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3">
					<div class="form-group">
						<label for="password">Password:</label>
						<input class="form-control" id="password" name="password" type="password">
						<small class="pswdErr1" style="color: red; display:none;">Requires at least:<br>One uppercase and lowercase letter<br>One number and one special character<br>Eight characters</small>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3">
					<div class="form-group">
						<label for="passwordConf">Confirm Password:</label>
						<input class="form-control" id="passwordConf" name="passwordConf" type="password">
						<small class="pswdErr2" style="color:red; display:none;">These passwords must match.</small>
					</div>
				</div>
			</div>
		</form>
		<div class="row justify-content-center">
			<div class="col-3">
				<button class="btn btn primary" onclick="validateInput()">Submit</button>
				<a href="/viewResults"><button class="btn">View all Users</button></a>
			</div>
		</div>
	</div>

	




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>